* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.auth-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 470px;
  height: 450px;
  background: #FFFFFF;
  border-radius: 10px;
}

.auth-block__title {
  height: 90px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 2.8125rem;
}

.color-title {
  color: #EC7979;
}

.auth-block__form {
  display: flex;
  flex-direction: column;
  width: 370px;
  align-self: center;
}

input[type=name],
input[type=password],
input[type=email] {
  border: 0;
  border-bottom: 2px solid #BDBDBD;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.auth-block__form-input {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.875rem;
  color: #BDBDBD;
  padding-bottom: 1rem;
  margin-bottom: 2.0625rem;
}

.auth-block__button {
  display: flex;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  border: none;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.9375rem;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  padding: 1.35rem;
  margin-top: 3.2rem;
}

.auth-block__button:hover {
  color: black;
  background: red;
}

.contact {}

.contact__title {
  height: 150px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.contact__separator {
  width: 170px;
  border: 1px solid #EC7979;
  margin: 0 auto;
}

.contact__subtitle {
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #86878B;
  padding-top: 2.5rem;
  padding-bottom: 5.5625rem;
}

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  padding-bottom: 3.125rem;
}

.contact__form-block {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.contact__form-input {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: #BDBDBD;
  padding-bottom: 1rem;
  margin-bottom: 3.125rem;
}

.contact__form-textarea {
  position: relative;
  top: -1.5rem;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 0.875rem;
  color: #BDBDBD;
}

.contact__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.contact__button-text {
  background: #EC7979;
  border: none;
  width: 370px;
  padding: 1.17rem;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1.125rem;
  text-transform: capitalize;
  color: #FFFFFF;
}

.contact__button-text:hover {
  color: black;
  background: red;
}

textarea {
  cursor: pointer;
  border: none;
  resize: none;
  border-bottom: 2px solid #BDBDBD;
}

textarea:focus,
input:focus {
  outline: none;
  border: 3px solid #280db04c;
}

